[submodule "Mask2Former"]
	path = Mask2Former
	url = https://github.com/giles200619/Mask2Former.git
[submodule "simplerecon"]
	path = simplerecon
	url = https://github.com/giles200619/simplerecon.git
