einops==0.3.0
efficientnet_pytorch
imageio==2.31.1
kornia==0.6.7
matplotlib==3.7.2
moviepy
natsort==8.4.0
numpy==1.25.1
open3d==0.17.0
opencv-python==4.6.0.66
Pillow==9.4.0
plotly==5.15.0
pyrender
scipy==1.11.1
timm==0.6.11
tqdm==4.65.0
trimesh
scikit-image==0.21.0
antialiased-cnns
albumentations
https://github.com/JamieWatson683/scikit-image/archive/single_mesh.zip