einops
efficientnet_pytorch
imageio
kornia==0.6.7
matplotlib
moviepy
natsort
numpy
open3d==0.17.0
opencv-python==4.6.0.66
Pillow==9.4.0
plotly==5.15.0
pyrender
scipy==1.11.1
timm==0.6.11
tqdm
trimesh
scikit-image
antialiased-cnns
albumentations
https://github.com/JamieWatson683/scikit-image/archive/single_mesh.zip
shapely
h5py
submitit
cython==3.0.6
transformers
diffusers
invisible-watermark
torch-scatter
pointersect
