einops
efficientnet_pytorch
imageio
kornia==0.6.7
matplotlib
moviepy==1.0.3
natsort
numpy==1.26.4
open3d
#opencv-python==4.6.0.66
Pillow==9.4.0
plotly==5.15.0
pyrender
scipy==1.11.1
timm==0.6.11
tqdm
trimesh
scikit-image
antialiased-cnns
albumentations==1.3.1
#https://github.com/JamieWatson683/scikit-image/archive/single_mesh.zip
shapely
h5py
submitit
cython
transformers
diffusers
invisible-watermark
torch-scatter
omegaconf
accelerate
chamferdist

